html{
    scroll-behavior: smooth;
}

body,button{
    font-family: 'Gilroy';
}

h1{
    font-weight: 700;
    font-size: 47px;
    line-height: 58px;
}

h2{
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
}

p{
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 33px;
}

.header__burger-btn{
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.header__burger-btn span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    left: 5px;
    top: 5px
}

.header__burger-btn span:nth-child(2){
    transform: translateY(10px);
}

.header__burger-btn span:nth-child(3){
    transform: translateY(20px);
}

.header_links{
    padding-bottom: 31px;
    border-bottom: 1px solid #828282;
}

.header__link{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #828282;

    margin-bottom: 32px;
    
    margin-right: 155px;
}

.header__link:first-child{
    color: black;
}

.header__link:last-child{
    margin-right: 0;
}

section{
    width: 941px;
    margin: 0 auto;
    text-align: center;
}

.first_view{
    margin-bottom: 104px;
}

.photo_author{
    width: 943px;
    height: 387px;
    margin: 0 auto;
    background-image: url(../resources/author_photo.png);
}

.text_info{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-bottom: 41px;
}

.text_info h1{
    margin-right: 297px;
}

.text_info p{
    padding-bottom: 10px;
}

.about_me{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 107px;
    background-color: #F6F6F6;
}

.about_me_text h2{
    margin-bottom: 30px;
}

.skills{
    width: 100%;
    padding-top: 91px;
    padding-bottom: 110px;
}

.skills h2{
    margin-bottom: 69px;
}

.skills p{
    margin-bottom: 83px;
}

.skills_image_container{
    display: flex;
    justify-content: center;
}

.skills_image_container img{
    margin-right: 90px;
}

.skills_image_container img:last-child{
    margin-right: 0px;
}

.portfolio{
    width: 100%;
    padding-top: 112px;
    padding-bottom: 96px;
    margin: 0 auto;
    background-color: #F6F6F6;
}

.portfolio h2{
    margin-bottom: 50px;
}

.portfolio_item{
    display: flex;
    flex-direction: column;
    margin-bottom: 99px;
}

.portfolio_item:last-child{
    margin-bottom: 0;
}

.portfolio_item img{
    width: 70%;
    min-width: 316px;
    margin: 0 auto;
    margin-bottom: 44px;
}

.portfolio_item a{
    color: black;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.contacts{
    padding-top: 114px;
    margin-bottom: 85px;
}

.contacts h2{
    margin-bottom: 40px;
}

.contacts p{
    margin-bottom: 29px;
}

.contacts button{
    font-size: 18px;
    color: white;
    background-color: black;
    padding: 10px 29px;
    border-radius: 30px;
    cursor: pointer;
}

footer{
    margin: 0 auto;
    padding-bottom: 123px;
}

.social_networks{
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.social_networks img{
    margin-right: 61px;
}

.social_networks img:last-child{
    margin-right: 0;
}


/* для мобильной версии */
@media (max-width:980px) {
    header{
        justify-content: left;
        padding-left: 15px;
    }
    .header_links{
        border-bottom: none;
        transition: transform .5s;
    }

    .header__burger-btn{
        display: block;
    }

    .header_links{
        position: absolute;
        left: -300px;
        top: 0;
        padding: 100px 60px 20px 20px;
    }

    .header{
        transition: margin-bottom .5s;
    }

    .header.open{
        transition: margin-bottom .5s;
    }

    .header__link{
        display: block;
    }
    
    header.open .header_links{
        transform: translateX(100%);
    }

    .header.open{
        margin-bottom: 390px;
    }

    .header.open span{
        transition: opacity .5s, transform .5s;
    }

    .header.open span:nth-child(1){
        transform: translateY(10px);
        transform: rotate(-45deg);
    }
    .header.open span:nth-child(2){
        transform: rotate(45deg);
    }

    .header.open span:nth-child(3){
        transform: translateY(10px);
        opacity: 0;
    }


    .text_info{
        margin-left: 20px;
        flex-direction: column;
        text-align: left;
        align-items: normal;
    }

    .text_info h1{
        margin-bottom: 23px;
    }

    .text_info p{
        text-align: left;
    }

    .photo_author{
        width: 316px;
        height: 478px;
        background-image: url(../resources/author_photo_mobile.png);
    }

    section{
        width: 100%;
    }

    .skills_image_container{
        display: block;
        width: 167px;
        margin: 0 auto;
    }

    .skills_image_container img{
        width: 166px;
        margin-bottom: 81px;
        margin-right: 0;
    }

    .skills_image_container img:last-child{
        margin-bottom: 0;
    }

}